<a href="https://colab.research.google.com/github/Karla-Valentin/Clase-23-11-21-primera-parte/blob/main/Fundamentos2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de datos estructurados en Python 

1. Listas
2. Tuplas
3. Diccionarios
4. Conjuntos (opcional)

# Listas

-Tipo de dato que agrupa datos o valores.
- Estructura secuencial (indexados empezando por 0)
- Se declara de dos formas#
      - usando [ ]
      - usando list()
      - usando un generador
- Puede obtener tipos de datos diversos (en otros lenguajes de prog. eso no es posible de forma directa)
- Los elemntos internos se seleccionan con [ ]
-Soporta slicing 
- Son mutables 
- GENERADORES [ var for x in range [10]]
- Al ser una clase contiene muchos métodos útiles

In [ ]:
numeros = [ 10,5,2, 3, 1 ]
print(numeros)

# append para agregar elementos a la lista 
numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
numeros[2] = 20 #Para cambiar el 2 a un 20
print(numeros)
numeros[4] = 33
print(numeros)
numeros[-1] = 33 #Con indexado negativo también se puede hacer
print(numeros)
numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33]
[10, 5, 20, 3, 33]
[10, 5, 20, 3, 33, 88]

In [ ]:
# tipos diversos

cosas = [12 , 2 , True , "Jose" , 1.57 , ["pera", "kiwi", "uva"]]
print(cosas)
print(cosas[1]) #Para sacar qué elemento esta en la posición 1
print(cosas[4])
print(cosas[5])
print(cosas[5][1]) #Para imprimir kiwi de la lista que esta dentro de otra lista 
print(cosas[3][1:3:]) #Para imprimir las letras os de la palabra "Jose"
cosas[3] = cosas[3].upper() #upper() para convertir en mayusculas
print(cosas)

[12, 2, True, 'Jose', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSE', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
#slicing
#Ejemplo 1. Imprimir del 4 al 8
print(numeros[3:8])

#Ejemplo 2. Obtener 9,10
print(numeros[8:10])
print(numeros[-3:-1:]) #Con indexado negativo

#Ejemplo 3. Imprimir la lista en orden inverso
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Crear una lista con un generador 
numeros = [x for x in range(101)]
print(numeros)

numeros = [x*3 for x in range(101)] #Para que se multiplique por 3 
print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

# función range()

Tiene los mismos componentes que slicing 

ini , stop , incremento 

range(1,101,1)

In [ ]:
numeros = [x for x in range(50, 101)] #Para que empiece desde el 50
print(numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# Métodos disponibles de las listas

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros = [4,1,15,8,22,34,50]
print(numeros)
numeros.append(99)
print(numeros)

#Para limpiar la lista
#numeros.clear()
print(numeros)
#otra alternativa es poner 
#numeros = []
print(numeros)

#Copy

frutas = ["uvas" , "kiwi" , "manzana"]
copia = frutas
print(frutas)
print(copia)
frutas.append("naranja")
print(frutas)
print(copia)

colores = ["rojo" , "azul" , "blanco"]
copia2 = colores.copy() #esta función en memoria va a reservar una copia fisica 
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

#count 

print("Numero de veces que aparece el 15=" , numeros.count(15))

#extend

nombres = ["jose" , "pedro" , "karina"]
otrosNombres = ["josue" , "diana" , "daira"]

print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)

#lo mismo con el metodo extend
otrosNombres.extend(["jesus" , "maria" , "jose"])
print(otrosNombres)

#index
print("jesus esta en la posicion:" , otrosNombres.index("jesus"))

#insert
otrosNombres.insert(4,  "Espiritu santo") #insertar un elemento
print(otrosNombres)

#pop
resultado = otrosNombres.pop() #saca el ultimo elemnto y lo regresa
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[4, 1, 15, 8, 22, 34, 50, 99]
[4, 1, 15, 8, 22, 34, 50, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'naranja']
['uvas', 'kiwi', 'manzana', 'naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
Numero de veces que aparece el 15= 1
['jose', 'pedro', 'karina']
['josue', 'diana', 'daira']
['jose', 'pedro', 'karina', 'josue', 'diana', 'daira']
['josue', 'diana', 'daira']
['josue', 'diana', 'daira', 'jesus', 'maria', 'jose']
jesus esta en la posicion: 3
['josue', 'diana', 'daira', 'jesus', 'Espiritu santo', 'maria', 'jose']
['josue', 'diana', 'daira', 'jesus', 'Espiritu santo', 'maria']
jose

# Tuplas

### Caracteristicas de las duplas 

- Son datos agrupados
- Se declara usando#
  - ()
  - tuple()
- Es una estructura secuencial, esta indexada a partir de 0.
- Pueden tener 0 a n elementos
- NO SON MUTABLES (no se puede: eliminar y/o cambiar.
- Son buenas para almacenar información de consulta.
- Pueden alamacenar información de diferentes tipos de datos.
- Pueden estar anidadas.
- Tienen métodos útiles.

In [ ]:
info = ("juan23" , "dios11234" , "123.232.1.12")
print(info)
print(info[1]) #imprimir password que esta en posición 1.
#info[1] = "patito23" quiere decir que no son mutables 

numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros)
print(numeros[5:11]) #para imprimir del 5 al 10

cosas = (info , numeros) 
print(cosas) 
print(cosas[1][5:11:1]) #para imprimir del 5 al 10 desde las tuplas unidas.
#el primer 1 es porque la dupla en donde estan los numeros esta en la posición 1
print(cosas[0][2][4:7]) #para imprimir el 232
#el 0 es porque la tupla esta en la pocision 0 y el 2 porque en donde esta el 232
#esta en la pocion 2 (el 0 es juan23 y 1 es dios1...)
print(cosas[0][2][-8:-5]) #con indexado negativo

('juan23', 'dios11234', '123.232.1.12')
dios11234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios11234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232
232

# Métodos de las duplas 
Son los mismos de las listas pero los que no involucren mutabilidad.

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionario
### caracteristicas de los diccionarios 

- Agrupan datos, pero de forma no lineal. 
- Se declaran con: 
    - {}
    - dic ()
- Formado por pares del tipo llave: valor, donde: 
    - Llave es de tipo string (siempre)
    - Valor puede ser de cualquier tipo de datos, incluyendo los diccionarios.
 - Se seleccionan con la llave de la forma :   
      ["id_llave"]
- Son mutables 
- Son anidables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript (JS)

In [ ]:
alumno = { "nombre" : "Jose"}
print(alumno) 
print(alumno["nombre"]) #para imprimir solo el nombre de Jose
alumno = {"nombre" : "Jose" , "nc" : "2129229292" , "edad" : 18}
print(alumno["edad"]) #imprimir la edad 18 
print(alumno["nombre"].upper()) #para imprimir el string con mayusculas

#Imprimir el mismo resultado pero con la forma dict.
alumno2 = dict() #( )
alumno2["nombre"] = "Jose"
print(alumno2)
alumno2["nc"] = "2129229292"
alumno2["edad"] = 18
print(alumno2)

alumno2["edad"] = alumno2["edad"] + 1 #suponiendo que cumplió un año mas
print(alumno2)

{'nombre': 'Jose'}
Jose
18
JOSE
{'nombre': 'Jose'}
{'nombre': 'Jose', 'nc': '2129229292', 'edad': 18}
{'nombre': 'Jose', 'nc': '2129229292', 'edad': 19}

In [ ]:
#En los diccionarios es posible poner salto de linea por si no nos cabe en el 
#campo de visión 
cliente = { "ID" : "CT2121" , 
           "nombre" : "Jose Pedroza Rosales" , 
           "telefonos" : "casa=554456565 cel=0445678965" }
print(cliente)           
cliente = { "ID" : "CT2121" , 
           "nombre" : {
           "nombres" : ["Jose" , "Eduardo"] ,
           "paterno" : "Pedroza", 
           "materno" : "Rosales"
           }, 
           "telefonos" : { 
                        "casa" : "554456565",
                        "trabajo" : "55329076898", 
                        "celular" : "0445678965"
           } ,
           "productos" : { 
                        "ahorro":{ "numero_cuenta":"7788" , "ahorro": 2500.5},
                        "tarjetas":[ 
                                     {"tipo" :"debito" , "saldo":10000.5},
                                     {"tipo" :"credito preferente" , "limite":250000.5},
                                     {"tipo" :"lite" , "limite": 15000.5}
           ] 
            },
            "direccion":{ 
                "calle" :"Av. central",
                "numero" : 1245,
                "colonia" :"Impulsora",
                "delegación" :"neza",
                "estado" : { 
                    "clave":15,
                    "nombre_corto":"Edomex",
                    "nombre": "Estado de Mexico" 
                     }          
           }
            }
print(cliente["telefonos"]["casa"] ) #impimir el telefono de casa 
print(cliente)
print(cliente["productos"]["ahorro"]["ahorro"]) #para imprimir los ahorros
print(cliente["productos"]["tarjetas"][2]["limite"]) #limite de la tarjeta lite
print(cliente["direccion"]["estado"]["nombre"].upper() ) #Estado en mayusculas
cliente["productos"]["ahorro"]["ahorro"] -= 1500.0
print(cliente["productos"])

{'ID': 'CT2121', 'nombre': 'Jose Pedroza Rosales', 'telefonos': 'casa=554456565 cel=0445678965'}
554456565
{'ID': 'CT2121', 'nombre': {'nombres': ['Jose', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'telefonos': {'casa': '554456565', 'trabajo': '55329076898', 'celular': '0445678965'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'Av. central', 'numero': 1245, 'colonia': 'Impulsora', 'delegación': 'neza', 'estado': {'clave': 15, 'nombre_corto': 'Edomex', 'nombre': 'Estado de Mexico'}}}
2500.5
15000.5
ESTADO DE MEXICO
{'ahorro': {'numero_cuenta': '7788', 'ahorro': 1000.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}

#Estructra de control de programación 

Se puede crear cualquier tipo de algoritmo empleando solamente 3 estructuras de control:      

1. Secuencia:      
      -La representación de la memoria de programa (Arquitectura Von Newman)
 2. Selección: 
    - Es la estructura de control que decide si un bloque de programa se ejecuta o no. Tambien permite seleccionar o ejecutar un bloque entre en un conjunto de opciones.     
 3. Repetición:  
    - Este tipo de estructura nos permite automatizar la ejecución repetitiva de código mienttras ciertas condiciones se cumplam, tenemos 3 variantes de esta estructura en todos los lenguajes de programación. 
    - Desde.....hasta (estructura for)
    - haz mientras (estructura while)  
    - haz y luego validez mientras (estructura Do-while)

#Selección simple
- Documentar o poner nota.

La estructura if

if<CONDICION> :    
      <Cuerpo del IF>

      **NOTA** PAara establecer el cuerpo de una estructura de control, se usan 
      los tabuladores a la izquierda.

      En otros lenguajes como Java, c y c++... se usan las llaves { }
      ``` 
      int edad =0;
      printf("Dam tu edad");
      scanf("%i", &edad );
      if(edad >= 18) {
         printf("ERES MAYOR DE EDAD");
      ```

In [ ]:
edad = int( input("Dame tu edad:"))
print(f"Tecleaste {edad} años") 
if edad >= 18 :
    print("ERES MAYOR DE EDAD") 
    print("Algo") #PERTENECE AL IF
print("Otra cosa") #YA NO PERTENECE AL IF SINO, AL PROGRAMA PRINCIPAL
print("Fin de programa")

Dame tu edad:16
Tecleaste 16 años
Otra cosa
Fin de programa

In [ ]:
#Ejercicio del libro pag. 55
CAL = float(input("Dame tu calificación:"))
if CAL > 8 :
  print ("aprobado")
  print("Fin de programa")

Dame tu calificación:8.78
aprobado
Fin de programa

In [ ]:
#Ejercicio del libro pag. 56

SUE = float(input("Escribe el sueldo: "))
AUM = 0 
MSUE = 0

if SUE < 1000 :
    AUM = SUE* 0.15
    MSUE = SUE + AUM
    print(MSUE)

Escribe el sueldo: 875.50
1006.825

#Estructura de selección de bifurcación (if-else)

Esta estructura selecciona una de dos opciones de ejecución, se ejecuta un bloque si la condición se cumple o se ejecuta otro bloque si la condición no se cumple (else).

 
if <condicion> 
    <bloque de ejecución>
else:    
    <bloque de ejecución alterno>

In [ ]:
edad= int(input("Dame tu edad:"))
print(f"Tecleaste {edad} años")
if edad >= 18 : 
    print("Eres mayor de edad, ten tu cheve")
else:
     print("Eres mayor de edad, ten tu Boing")   
print("fin del programa")

Dame tu edad:17
Tecleaste 17 años
Eres mayor de edad, ten tu Boing
fin del programa

In [ ]:
# 36 pesos una cheve, hacer que si eres mayor de edad y tienes igual o mas de 
# 36 pesos te dan una cheve, si no te dan un boing.

edad=int(input("Dame tu edad: "))
dinero=float(input("Dame tu cantidad de dinero: "))
print(f"Tecleaste {edad} años")
print(f"Tecleaste {dinero} pesos")
if edad>=18 and dinero>=36:
    print("Eres mayor de edad, ten tu cheve")
else:
    print("Eres menor de edad, ten tu boing")
print("FIN DEL PROGRAMA")

Dame tu edad: 18
Dame tu cantidad de dinero: 60
Tecleaste 18 años
Tecleaste 60.0 pesos
Eres mayor de edad, ten tu cheve
FIN DEL PROGRAMA

In [ ]:
#otra solución

edad = int (input("Dame tu edad:"))
dinero = float (input("¿Cuánto dinero tienes?"))
if edad >= 18:
    if dinero >=35:
        print("Eres mayor de edad y tienes dinero, ten tu cheve")
    else:
      print("No tienes suficiente dinero")
else:
    print("Eres menor de edad, ten tu Boing")
print("Fin del programa")

Dame tu edad:19
¿Cuánto dinero tienes?34.8
No tienes suficiente dinero
Fin del programa

In [ ]:
#Otra solución 

edad = int(input("Dame tu edad: "))
dinero = float(input("Cuanto dinero tienes: "))
print(f"Tecleaste {edad} años")
print(f"Tecleaste {dinero} dinero")
if edad >= 18 :
    if dinero >=36 :
        print("Ten tu cheve")
    else:
        print("tienes la edad pero no tienes dinero suficiente")
elif dinero >= 36 :
    print("Tienes dinero suficiente pero no tienes la edad")
else:
    print("No tienes la edad ni el dinero, ve a jugar roblox a tu casa")

Dame tu edad: 11
Cuanto dinero tienes: 0.5
Tecleaste 11 años
Tecleaste 0.5 dinero
No tienes la edad ni el dinero, ve a jugar roblox a tu casa

In [ ]:
# ejemplo 2.3 pagina 59

CAL= float(input("Escribe tu calificiación: "))
if CAL >= 8 :
    print("Aprobado")
else: 
    print("Reprobado")

Escribe tu calificiación: 6
Reprobado

In [ ]:
#Ejemplo 2.4 pag. 60

SUE= float(input("Escribe tu sueldo"))
AUM = 0 
NSUE = 0

if SUE < 1000 :
    AUM = SUE* 0.15
    NSUE = SUE + AUM #NSU es nuevo sueldo 
    print(NSUE)
else:
    AUM= SUE*0.12
    NSUE = SUE + AUM
print(NSUE)

Escribe tu sueldo2000
2240.0

In [ ]:
#Otra solución 

SUE=float(input("Dame tu sueldo: "))
if SUE<1000:
    NSUE=SUE*1.15
else:
    NSUE=SUE*1.12
print(f"Tu nuevo sueldo es: {NSUE}")

Dame tu sueldo: 2000
Tu nuevo sueldo es: 2240.0

# ejercicio if-else 

hacer un programa que solicite el dia de la semana en un valor numerico entero del 1 al 7 (avisarle al usuario si proporciono un valor fuera del rango). 

###postriormente imprimira el dia de la semana correspondiente al numero capturado. 

1. lunes
2. martes
....
7. domingo

In [ ]:
DIA= int(input("Escribe el dia de la semana:"))
if DIA is 1:
    print("LUNES")
elif DIA is 2:
    print("MARTES")
elif DIA is 3:
    print("MIERCOLES")
elif DIA is 4:
    print("JUEVES")
elif DIA is 5:
    print("VIERNES")
elif DIA is 6:
    print("SÁBADO")
elif DIA is 7:
    print("DOMINGO")
else:
    print("No existe un día de la semana con ese numero, ingresa nuevamente")

Escribe el dia de la semana:1
LUNES

In [ ]:
dia = int( input("Ingresa un numero entre 1 y 7:"))
print(f"Capturaste el numero { dia }")
 
if dia >=1 and dia <= 7:
    if dia == 1:
        print("Lunes")
    else:
        if dia == 2:
            print("Martes")
        else:
            if dia == 3:
                print("Miércoles")
            else:
                if dia == 4:
                    print("Jueves")
                else:
                    if dia == 5:
                        print("Viernes")
                    else:
                        if dia == 6:
                            print("Sábado")
                        else:
                            print("Domingo")
 
else:
    print("Ese numero no esta dentro del rango solicitado")

Ingresa un numero entre 1 y 7:5
Capturaste el numero 5
Viernes

In [ ]:
#Hacer un programa que pida dos numeros enteros y que imprima en pantalla lo siguiente: 

"""1.Cual de ellos es el numero mayor.
2. cual de ellos es el numero menor
 o en su defecto imprimir que los valores 
son iguales""" 



"""Hacer un programa que solicite 3 numeros enteros diferentes entre si y que 
imprima cual de los tres es el mayor"  

""Hacer un programa que solicite 3 numeros enteros diferentes entre si y que 
imprima cual de los tres es el menor"""


"""Hacer un programa que solicite 4 numeros enteros diferentes entre si e 
imprima a la salida cual de ellos es el menor y cual de ellos es el mayor"""

#Selección múltiple (switch)
En python no existe la estructura de selección switch, en su lugar se emplea la palabra reservada:    

##elif <condicion>:    

por ejemplo en el lenguaje C y Java seria de la forma:  

´´´´ 
float SUE=0.0;
int CATE=0;

printf("Introduce la categoría:");
scanf("%i",&CATE);
printf("Introduce el sueldo:");
scanf("%f",&SUE);

switch(CATE){
    case 1:       
        SUE = SUE * 1.15;
        break;
    case 2:     
        SUE = SUE * 1.10;
        break;
    case 3:     
        SUE = SUE * 1.08;
        break;
    case 4:     
        SUE = SUE * 1.07;
        break;
}        
  print("Categoría=&i

In [ ]:
# ejemplo 2.7 

NUM = int(input("dame un numero entre 1 y 3:"))
V = float(input("Dame un valor float:"))
VAL = 0
if NUM == 1:
    VAL = 100 * V
elif NUM == 2:
    VAL = 100 ** V
elif NUM == 3 :
    VAL =100/V
else:
    VAL = 0
 
print(VAL)

dame un numero entre 1 y 3:2
Dame un valor float:2.5
100000.0

In [1]:
#Ejemplo 2.8

CATE= int(input("Produce la categoría:"))
SUE = float(input("Introduce el sueldo:"))

if CATE == 1:
    SUE= SUE * 1.15;
elif CATE == 2:
    SUE = SUE * 1.10;
elif CATE == 3:
    SUE = SUE * 1.08; 
elif CATE == 4:
    SUE = SUE * 1.07;  

print(f"Categoría= {CATE}, SUELDO= {SUE}")

Produce la categoría:3
Introduce el sueldo:3800
Categoría= 3, SUELDO= 4104.0

In [6]:
#EJEMPLO 2.12
A= int(input("Escribe un numero entero:"))
B= int(input("Escribe otro numero entero:"))
C= int(input("Escribe un numero entero diferente:"))

if A>B: 
    if A>C:
        if B>C:
            print(f"Los números de mayor a menor son: {A}, {B}, {C}")
        else:
            print(f"Los números de mayor a menor son: {A}, {C}, {B}")
    else:
        print(f"Los números de mayor menor son: {C}, {A}, {B}")
else:
    if B>C:
        if A>C:
            print(f" Los números de mayor a menor son: {B}, {A}, {C}")
        else:
            print(f"Los números de mayor a menor son: {B}, {C}, {A}")
    else:
        print(f" Los números de mayor a menor son: {C}, {B}, {A}")

Escribe un numero entero:12
Escribe otro numero entero:100
Escribe un numero entero diferente:34
Los números de mayor a menor son: 100, 34, 12

###Tarea 
Hacer los ejercicios de 2.1 (pág. 77) hasta el 2.13 (pág.102)

In [9]:
#Problema 2.14

TIPOENF = int(input("Introduce el tipo de enfermedad:"))
EDAD = int(input("Introduce la edad:"))
DIAS = int(input("Introduce el número de días:"))
COSTO = 0.0

if TIPOENF == 1:
    COSTO = DIAS * 25.0
elif TIPOENF ==2:
    COSTO = DIAS * 16.0
elif TIPOENF ==3:
    COSTO = DIAS * 20.0        
elif TIPOENF ==4:
    COSTO = DIAS * 32.0

if EDAD >= 14 and EDAD <= 22:
    COSTO = COSTO *1.10

print("Costo total =$" , COSTO)  
print(f"Se pago ${COSTO} pesos por {DIAS} dias de estancia") #Lo mismo pero con
#formato "f".

Introduce el tipo de enfermedad:3
Introduce la edad:35
Introduce el número de días:4
Costo total =$ 80.0
Se pago $80.0 pesos por 4 dias de estancia